@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AristinoAdmin/Views/Shared/_AdminLayout.cshtml";
}

            <div class="page-heading">
                <h3>@ViewBag.MonthlyStatistic</h3>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon purple">
                                                    <i class="iconly-boldShow"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Tổng Doanh Thu</h6>
                                                <h6 class="font-extrabold mb-0">@ViewBag.TotalPrice</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
@*                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon blue">
                                                    <i class="iconly-boldProfile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Tổng Doanh Thu Sản Phẩm Không Giảm Giá</h6>
                                                <h6 class="font-extrabold mb-0">@ViewBag.TotalOriginalPrice</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon green">
                                                    <i class="iconly-boldAdd-User"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Tổng Số Hóa Đơn Đã Thanh Toán</h6>
                                                <h6 class="font-extrabold mb-0">@ViewBag.TotalSuccessfullyOrder</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon red">
                                                    <i class="iconly-boldBookmark"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Tổng Số Lượng Sản Phẩm Đã Bán</h6>
                                                <h6 class="font-extrabold mb-0">@ViewBag.TotalSaleQuantity</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Doanh Thu Theo Tuần</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-profile-visit"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                              <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Sản Phẩm Bán Chạy Nhất Trong Tuần</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-lg">
                                                <thead>
                                                    <tr>
                                                        <th>Tên Sản Phẩm</th>
                                                        <th>Hình Sản Phẩm</th>
                                                        <th>Số Lượng Đã Bán</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach(MostSoldProduct sold in ViewBag.MostSoldProduct)
                                                    {
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">@sold.Product.ProductName</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-13">
                                                            <img src="@Url.Content("~/uploads/AdminProducts/"+sold.Product.ProductName+"/"+sold.Product.ProductImage)" style="width:75px;height:75px"/>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0">@sold.Sold</p>
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
@section Scripts{
    @await Html.PartialAsync("~/JavascriptPartialView/StatisticJS.cshtml",new{SalePerDay=ViewBag.SalePerDay})
}
