@model IEnumerable<Aristino.ViewModel.ProductVM>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/AristinoAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chi Tiết Collection: @ViewBag.CollectionName</h1>
            <div class="page-heading">
                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <div class="ButtonArea" style="display:flex;justify-content:space-between">
                                <a class="badge bg-success" asp-action="AddProductToCollection" asp-route-CollectionId="@ViewBag.CollectionId" >Thêm Sản Phẩm</a>
                                <button class="badge bg-danger" id="DeleteAll" disabled>Xóa Mục Đã Chọn Khỏi Collection</button>
                            </div>
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
                                        <th>Chọn Tất Cả <input type="checkbox" id="CheckAll" /></th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Giá</th>
                                        <th>Hình Sản Phẩm</th>
                                        <th>Số Lượng</th>
                                        <th>Giảm Giá</th>
                                        <th>Danh Mục</th>
                                        <th>Màu Sắc</th>
                                        <th>Kích Cỡ</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        @foreach(var item in Model)
                                        {
                                    <tr>
                                                <td><input type="checkbox" value="@item.ProductId" class="cb"/></td>
                                                <td>@Html.DisplayFor(modelitem=>item.ProductName)</td>
                                                <td>@Html.DisplayFor(modelitem=>item.Price)</td>
                                                <td><img src="@Url.Content("~/uploads/AdminProducts/"+item.ProductName+"/"+item.ProductImage)" style="width:75px;height:75px"/></td>
                                                <td>@Html.DisplayFor(modelitem=>item.Quantity)</td>
                                                <td>@Html.DisplayFor(modelitem=>item.Discount)%</td>
                                                <td>@Html.DisplayFor(modelitem=>item.Category.CategoryName)</td>
                                                <td>@Html.DisplayFor(modelitem=>item.Color)</td>
                                                <td>@Html.DisplayFor(modelitem=>item.Size)</td>
                                            <td>
                                                @if(item.Active==false)
                                                {
                                                    <span class="badge bg-danger">Chuẩn Bị Bán</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-success">Đang Bán</span>
                                                }
                                            </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                </div>
<script src="~/assets/vendors/simple-datatables/simple-datatables.js"></script>
<script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
</script>
@section Scripts{
    @if (TempData["Success"] != null)
    {
        @await Html.PartialAsync("SweetAlertPartialView/_AdminSuccessSweetAlert.cshtml",new{Success=TempData["Success"]})
        @TempData.Remove("Success")
    }
    @await Html.PartialAsync("~/JavascriptPartialView/DisableEnableButton.cshtml",new{
        DeleteAllButton="DeleteAll",CheckBoxClassName="cb"
    })
    @await Html.PartialAsync("~/JavascriptPartialView/CheckAllCheckBox.cshtml",new{
        CheckAllButton="CheckAll",GetAllCheckBox="cb",DeleteButton="DeleteAll"
    })
    @await Html.PartialAsync("~/AJAX/DeleteMultipleAJAX.cshtml",new{
        CheckBoxClassName=".cb",DeleteButton="#DeleteAll",ControllerName="AdminFashionCollections",ActionName="RemoveProductFromCollection",getID="#CollectionId",VariableName=""
    })
}
