@model Aristino.ViewModel.ProductVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AristinoAdmin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ErrorList = TempData["ErrorList"];
}

<h1>Thêm Sản Phẩm</h1>

<hr />
<div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form form-horizontal" id="formupload" asp-action="Create" enctype="multipart/form-data" method="post">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Tên Sản Phẩm</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control"
                                                            asp-for="ProductName" placeholder="Tên Sản Phẩm">
                                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                                    </div>   
                                                    <div class="col-md-4">
                                                        <label>Giá</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="number"  class="form-control"
                                                            asp-for="Price" placeholder="Giá">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Danh Mục</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.CategoryId">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Mô Tả Ngắn</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <textarea class="form-control" asp-for="ShortDes"></textarea>
                                                    </div>
                                                     <div class="col-md-4">
                                                        <label>Mô Tả</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <textarea class="form-control" asp-for="ProductDescription"></textarea>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Hình Sản Phẩm</label>
                                                    </div>

                                                    <div class="col-md-8 form-group">      
                                                         <div class="card">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <!-- File uploader with image preview -->
                                                                    <input type="file" class="image-preview-filepond">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Kích Cỡ</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                       <select class="choices form-select multiple-remove form-control"
                                                                multiple="multiple" asp-for="SizeList" asp-items="@ViewBag.SizeId">
                                                                    <option></option>
                                                            </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Màu Sắv</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <select class="choices form-select multiple-remove form-control"
                                                                multiple="multiple" asp-for="ColorList" asp-items="@ViewBag.ColorId">
                                                                    <option></option>
                                                            </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Số Lượng</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="number" class="form-control"
                                                            asp-for="Quantity" placeholder="Số Lượng">
                                                    </div>
                                                     <div class="col-md-4">
                                                        <label>Banner Giảm Giá</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <select class="choices form-select multiple-remove form-control"
                                                                multiple="multiple" asp-for="DiscountId" asp-items="@ViewBag.DiscountBanner">
                                                                    <option></option>
                                                            </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Trạng Thái Sản Phẩm</label>
                                                    </div>
                                                    <div class="col-12 col-md-8 offset-md-4 form-group">
                                                        <div class='form-check'>
                                                            <div class="checkbox">
                                                                <input type="radio" class="btn-check" name="ActiveButton" id="success-outlined"
                                                                        autocomplete="off" value="true">
                                                                    <label class="btn btn-outline-success" for="success-outlined">Đang Bán</label>

                                                                <input type="radio" class="btn-check" name="ActiveButton" id="danger-outlined"
                                                                    autocomplete="off" asp-for="Active" value="false">
                                                                <label class="btn btn-outline-danger" for="danger-outlined">Chuẩn Bị Bán</label>
                                                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 d-flex justify-content-end">
                                                        <button type="submit"
                                                            class="btn btn-primary me-1 mb-1">Thêm</button>
                                                        <button type="reset"
                                                            class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

<div>
    <a asp-action="Index">Quay Lại</a>
</div>
    <script src="~/assets/vendors/choices.js/choices.min.js"></script>
<!--SweetAlert-->
@section Scripts{
    @await Html.PartialAsync("~/Areas/AristinoAdmin/Views/Shared/FilePond/_UploadImage.cshtml",
    new{InputClass=".image-preview-filepond",FormId="#formupload",ActionName="Create",ControllerName="AdminProducts",ImageGallery="",ProductName="",AllowMultiple="true"})
    @await Html.PartialAsync("~/Areas/AristinoAdmin/Views/Shared/_AdminSummernoteRichTextEditor.cshtml",new{height=200,selector="#ProductDescription"})
    @if(TempData["isError"]!=null)
    {
        @await Html.PartialAsync("~/Areas/AristinoAdmin/Views/Shared/SweetAlertPartialView/_AdminSweetAlert.cshtml",new{getErrorList=ViewBag.ErrorList})
    }
    @if(TempData["Error"]!=null)
    {
        @await Html.PartialAsync("~/Areas/AristinoAdmin/Views/Shared/SweetAlertPartialView/_AdminErrorSweetAlert.cshtml",new{Error=TempData["Error"]})
        @TempData.Remove("Error")
    }
    @if (TempData["DiscountError"]!=null)
    {
        @await Html.PartialAsync("SweetAlertPartialView/_AdminErrorSweetAlert.cshtml",new{Error=TempData["DiscountError"]})
        @TempData.Remove("DiscountError")
    }
}

