@model Aristino.Models.FashionCollection

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FashionCollection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionDes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionDes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionThumbnail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionThumbnail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionDisable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionDisable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CollectionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
